<footer class="footer_area">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer_logo">
                    <a href="#">
                        <img src="http://rj-dev.wuaze.com/img/logo.png" alt="Logo">
                    </a>
                    <h4>Siga-me</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="footer_social">
                    <a target="_blank" href="https://github.com/rogeriojr"><img src="/img/github.png" alt="Github"></a>
                    <a target="_blank" href="https://www.linkedin.com/in/rog%C3%A9rio-j%C3%BAnior-174719120/"><img src="/img/linkedin.png" alt="LinkedIn"></a>
                    <a target="_blank" href="https://api.whatsapp.com/send?phone=5564981294566&text=Ol%C3%A1%2C%20vi%20seu%20portifolio%20e%20me%20interessei%20no%20seu%20trabalho%21"><img src="img/whatsapp.png" alt="Whatsapp"></a>
                </div>
            </div>
        </div>
    </div>
</footer>