<header>
    <navbar class="navbar navbar-ligth bg-dark">
        <a class="navbar-brand" href="/">
            <img src="http://rj-dev.wuaze.com/img/logo.png" alt="">
        </a>
    </navbar>
</header>