<%- include('partials/header.ejs') -%>

    <body>
        <%- include('partials/navbar.ejs') -%>
            <main>
                <section>
                    <div class="container">
                        <div class="card" id="formulario-pergunta">
                            <div class="card-header">
                                <h3>Home</h3>
                            </div>
                        </div>


                    </div>
                </section>
            </main>
    </body>
    <%- include('partials/footer.ejs') -%>