<%- include('partials/header.ejs') -%>

    <body>
        <%- include('partials/navbar.ejs') -%>
            <main>
                <section>
                    <div class="container">
                        <div class="card" id="formulario-pergunta">
                            <div class="card-header">
                                <h3>Realizar pergunta</h3>
                            </div>
                            <card class="card-body">
                                <form method="post" action="/salvarpergunta">
                                    <label>Título</label>
                                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                                    <label>Descrição</label>
                                    <textarea placeholder="Descreva sua pergunta aqui" class="form-control" name="descricao"></textarea>
                                    <br>
                                    <button class="btn btn-dark">Perguntar</button>
                                </form>
                            </card>
                        </div>


                    </div>
                </section>
            </main>
    </body>
    <%- include('partials/footer.ejs') -%>